<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{ title }}
        </title>
        {% if description %}
            <meta name="description" content="{{ description }}"/>
        {% endif %}
        {% block head %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/paper.css" lazyload/>
        <link rel="stylesheet" type="text/css" href="/static/css/global.css" lazyload/>
        {% if prism == true %}
            <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
        {% endif %}
    </head>
    <body>
        <div id="global" class="pb-24" x-data="{filters: { categories: ['main-course'], text: '' } }">
            <div class="flex flex-row flex-wrap">
                {% include "./partials/navbar.njk" %}
                <div class="flex w-full px-0 lg:pl-48 lg:pr-12 2xl:pl-24">
                    {{ content | safe }}
                </div>
            </div>
            {% include "./partials/footer.njk" %}
        </div>
        <script src="/static/js/alpine.js" defer></script>
    </body>

	<script>
		document.addEventListener('alpine:init', () => {
			Alpine.store('filters', {
				categories: [],
				text: "kljfdlkjfsdkl"
			})
		});
	</script>
</html>
