---
layout: default
prism: true
---

<div class="container max-w-4xl  px-6">
    <div class="pb-5 lg:pt-5">
        <h1 class="font-bold text-4xl tracking-wide mt-0 lg:mt-16">{{title}}</h1>
    </div>
	<div class="hero relative">
		<img src="{{feature_image}}" class="mb-8 h-96 w-full object-cover" style="max-height:50vw;" />
		<img src="/static/img/flags/{{origin}}.svg" class="w-16 lg:w-24 h-auto object-contain absolute bottom-3 right-3 drop-shadow-lg" />
	</div>
	<div class="card mb-12">
		<div class="card-body">
			<div class="m-2 lg:m-6 prose">
				<h2 class="mb-4 pb-4 border w-full" style="border-top:none; border-left:none; border-right:none; border-color:#DDD;">Ingredients</h2>
				<ul class="leading-loose">
					{% for ingredient in ingredients %}
						<li>
							{% if ingredient.measure != "some" %}
								{{ ingredient.quantity | safe }}
							{% endif %}
							{% if ingredient.measure != "whole" %}
								{{ ingredient.measure | safe }}
							{% endif %}
							{{ ingredient.name | safe }}
							{% if ingredient.comment %}
								<span class="tooltip">
									<img class="info" src="/static/img/icon_info.svg" />
									<span class="description">{{ ingredient.comment | safe }}</span>
								</span>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<article class="prose my-4 max-auto lg:my-6">
				<h2 class="mb-4 pb-4 border w-full" style="border-top:none; border-left:none; border-right:none; border-color:#DDD;">Preparation</h2>
				{{ content | safe }}
			</article>
		</div>
	</div>
</div>
