[id*="ingredients"] [class*="ListItem"] {}

[id*="ingredients"] [class*="NestedObjectLabel"] {
	padding-bottom: 5px;
	padding-top: 5px;
	text-transform: capitalize;
}

[id*="ingredients"] [class*="ControlContainer"] {
	display: inline-block;
}

[id*="ingredients"] [class*="ControlContainer"] input,
[id*="ingredients"] [class*="ControlContainer"] [class*="-control"] {}

[id*="ingredients"] [class*="ControlContainer"] [class*="-control"]>div {}

[id*="ingredients"] [class*="ControlContainer"]:nth-of-type(1) {
	margin-top: 16px;
	width: 56%;
}

[id*="ingredients"] [class*="ControlContainer"]:nth-of-type(2) {
	margin-left: 2%;
	width: 20%;
}

[id*="ingredients"] [class*="ControlContainer"]:nth-of-type(3) {
	margin-left: 2%;
	width: 20%;
}

[id*="ingredients"] [class*="ControlContainer"]:nth-of-type(4) {
	width: 100%;
}