@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
html {
	font-size: 16px !important;
}

h1 {
	@apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
	@apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre)>code[class*="language-"],
body pre[class*="language-"] {
	@apply bg-gray-800;
}

.main_title {
	font-size: calc(min(14vw, 4rem));
}

.main_nav__item.active {
	@apply font-bold text-purple-500;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.recipes_list {
	animation: fadeIn 2s ease 0s 1 forwards;
	opacity: 0;
}

article.prose ol>li::marker,
article.prose ul>li::marker {
	content: none;
}

.tooltip {
	cursor: default;
	display: inline-block;
	margin: 0 0 0 10px !important;
	position: relative;
}

.tooltip .info {
	background-color: #FFF;
	height: 1em;
	margin: 0;
	opacity: 0.5;
	position: relative;
	top: 0.1em;
	transition: opacity 0.3s ease;
	width: 1em;
}

.tooltip .description {
	background: linear-gradient(to bottom, #FFF 0%, #ADF 100%);
	border: 1px solid #8AF;
	border-radius: 4px;
	display: grid;
	font-size: 0.8em;
	height: 2em;
	left: 50%;
	opacity: 0;
	padding: 0 20px;
	place-items: center;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translate(-50%, -110%);
	transition: opacity 0.3s ease;
	white-space: nowrap;
}

.tooltip:hover .info {
	opacity: 0.8;
}

.tooltip:hover .description {
	opacity: 1;
}

@media (min-width:960px) {
	html {
		font-size: 20px !important;
	}
}
