{# <div class="card recipe_thumbnail" x-data="thumbnail({{recipe.data.categories | dump}}, {{recipe.data.ingredients | dump}}, `{{recipe.data.title}}`, filterCategories, filterText)" x-show="isVisible"> #}
{# <div class="card recipe_thumbnail" x-data="thumbnail({{recipe.data.categories | dump}}, {{recipe.data.ingredients | dump}}, `{{recipe.data.title}}`)"> #}

<a href="/" style="background:transparent none;">
	<img src="{{ recipe.data.feature_image }}" alt="{{ recipe.data.title }}" class="object-cover h-32 w-full"/>
	<div class="card-body p-2">
		<h4 class="card-title text-lg">{{ recipe.data.title }}</h4>
		<div class="grid grid-cols-2">
			{% if recipe.data.time %}
				<h5 class="card-subtitle" title="Required Time">⏱
					{{ recipe.data.time }}
					mins</h5>
			{% endif %}
			{% if recipe.data.complexity %}
				<h5 class="card-subtitle" title="Complexity">📐
					{{ recipe.data.complexity }}
				</h5>
			{% endif %}
		</div>
		{# <p class="card-text"></p> #}
		{# <button>Let me go here!</button> #}
	</div>
</a>
